/* styles.css */
:root {
    --background-light: #ffffff;
    --background-dark: #121212;
    --text-light: #000000;
    --text-dark: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Tema claro (por defecto) */
body.light-theme {
    background-color: var(--background-light);
    color: var(--text-light);
}

/* Tema oscuro */
body.dark-theme {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
